.pref__container {
  background: linear-gradient(to right, red 36%, blue 64%);
}

/* 제목 부분 */
.pref__title.positioner {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pref__title.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 16px;
  background-color: white;
  border-radius: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pref__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

/* 선택 영역 부분 */
.pref__button.area {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pref__button.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pref__image {
  width: 440px;
  margin-bottom: 32px;
}

.pref__image#coke {
  transform: rotate(-8deg);
}

.pref__image#pepsi {
  transform: rotate(8deg);
}

.pref__button.text {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  line-height: 2rem;
}
