.result__content {
  font-size: 1.8rem;
  margin-bottom: 32px;
}

.result__button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #333;
  padding: 16px;
  border-radius: 200px;
}
