.result.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result__content.container {
  font-size: 1.8rem;
  margin-bottom: 32px;
}

.result__button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #333;
  padding: 16px;
  border-radius: 200px;
}
