.demog__row {
  justify-content: space-around;
  align-items: center;
  padding: 24px;
}

.demog__item {
  padding: 16px;
  border: 1px solid black;
  border-radius: 8px;
}

.selected {
  background-color: #e0e0e0;
}

.invisible {
  visibility: hidden;
}
